Memberships
* Users should see link for Basic plan on Home page
* Users should see link to Pro plan on Home page
* Basic plan link should point to regular Devise sign up form
* Pro plan link should point to a custom sign up form

Stripe INtegration
* Users should have a stripe customer token in the users table
* JavaScript should prevent Pro form from submitting when users fills it out and 
should card info to stripe. Stripe will returm with a card token.
* javascript should send user fields and card token to our Rails app. Rails app
should validate the user fields. Rails app will note whether Plan1 or Plan 2.
* Once validate, Rails should send user info (email and plan id) and card token to stripe server and stripe will
create a subscription and send back customer token. Rails should save customer token and user info to our db.